<%= flash[:notice] %>

<div class="general-heading-spacing">
  <br></br>
  <ul>
  <li class="heading-tabs"> 
    List of Sellers
  </li>
  </ul>
  <hr class="solid">
</div>

<div class="users-container">
  <% @users.each do |user| %>
    <div class="user">
      <h4> Seller: </h4>
      <div class="user-information">
        <h5>
          <%= link_to user.username, user_products_path(user.id) %>
        </h5>
        <p>
          Items: <%= user.products.length %>
        </p>
      </div>
    </div>
  <% end %>
</div>
