@import "bootstrap";


.navbar {
  color: white !important;
  height: 65px !important;
}

.navbar a {
  color: white !important;
  text-decoration: none !important;
}

.navbar-brand + .navbar-nav {
  padding: 16px;
}

.navbar-nav .nav-item {
  margin-top: -12px;
  margin-left: 15px;
  font-size: 16px;
}

.navbar-nav .nav-item a {
  text-decoration: none;
  color: white;
}

.nav-search-item {
  margin-left: 15px;
  float: left;
  color: #007bff;
}

.nav-right-side-1 {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-top: -12px;
  text-decoration: none;
  position: absolute;
  right: 120px;
  float: right;
}

.nav-right-side-2 {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-top: -12px;
  text-decoration: none;
  position: absolute;
  right: 30px;
  float: right;
}

.heading-for-many {
  text-align: center;
  padding: 30px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  grid-auto-rows: 300px;
  margin: auto;
  padding: 40px
}

.users-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 150px;
  margin: auto;
  padding: 40px
}

.cartproducts-container {
  display: grid;
  grid-gap: 10px;
  margin: auto;
  padding: 40px
}

.heading-for-one, .product, .form-display, .review, .reviews-top, .product-write-review, .review-option {
    width: 95%;
    margin: auto;
    padding: 40px;
}

.product-show {
    margin: auto;
    width: 20%;
    padding: 10px;
    font-size: 30px;
}

.cartproduct {
    width: 95%;
    margin: auto;
    padding: 40px;
}

.product-image-show, .cart-product-image {
    position: absolute;
    left: 150px;
    margin-right: 150px
}

span + span {
    margin-left: 7%;
}

.product-options {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.product-edit {
    margin-left: 100px;
    margin-top: 100px;
}

.cart-summary {
    font-size: 20px;
    margin-left: 100px;
}

.cart-summary {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    margin-right: 30px;
}