@import "bootstrap";

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: solid 1px #bbb
}

.nav-item {
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    float: left;
    color: #1a8cff;
    font-size: 14px;
}

.nav-search-item {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    color: #1a8cff;
    font-size: 14px;
}

.nav-right-side {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.nav-right-side.last-child {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.heading-for-many {
    text-align: center;
    padding: 30px;
}

.products-container, .users-container, .reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    grid-auto-rows: 300px;
    margin: auto;
    padding: 40px
}

.heading-for-one, .product, .form-display, .review {
    width: 95%;
    margin: auto;
    padding: 40px;
}

.product-show {
    margin: auto;
    width: 30%;
    padding: 10px;
}


span + span {
    margin-left: 100px;
}